
/* home page */

.welcome {
  background-color: #c6e9f3;
}

/* navigation */

html {
  font-family: 'Saira Condensed', sans-serif;
  color: #000;
  background-color: #fff;
}

nav {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
}

nav a {
  display: inline-block;
  padding-right: .8rem;

  color: #a4b3b6;
  text-decoration: none;
  letter-spacing: .3px;
  text-align: center;

  border-left: transparent solid 2px;
  padding-left: 5px;
}

nav a:hover {
  color: grey;

  transition: all 0.3s ease-in;

  border-left: solid 2px
}

nav a:focus {
  color: grey;
  border-left: solid 2px
}

nav #current {
  color: #40c1d8;
  border-left: solid 2px
}

.img-flex {
  display: block;
  width: 100%;
}

/* button */

.btn {
  font-family: 'Satisfy', cursive;
  background-color: #40c1d8;
  border: none;
  padding: 15px;
}

.btn:hover {
  color: #40c1d8;
  background-color: white;
  padding: 15px;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

/* Text */

.logo {
  font-family: 'Satisfy', cursive;
  text-decoration: none;
  color: #40c1d8;
}

h3 {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
}

h5 {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 100;
  color: #a4b3b6
}

.plength {
  max-width: 19rem;
}

hr {
  border: 1px solid #40c1d8;
}

/* form */

legend {
  color: #a4b3b6;
}

form {
  float: left;
}

.error-message {
  display: none;
  color: #40c1d8;
}

.error-message-highlighted {
  color: #000;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

/* footer */

.site {
  display: flex;
  min-height: 92.8vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

footer {
  background-color: #40c1d8;
  opacity: 0.5;
}

footer p {
  color: #fff;
}

.icon {
  text-align: right;
}

.iconbtn {
  color: #40c1d8;
}

@media only screen and (min-width: 35em) {

  .media-icons {
    text-align: right;
  }

  .copyright {
    text-align: left;
  }

}
