<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {%endif %}Annie Chan Designs</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:100,300,400,600" rel="stylesheet">
</head>
<body>

<main class="grid wrapper grid-middle pad-t-2 pad-b gutter-2">

  <header class="unit [ xs-1 s-1 m-1 l-1 ]">

    <div class="unit [ xs-1 s-1 m-2-3 l-3-4 ]">
      <a class="logo" href="{{site.baseurl}}/">
        <h1 class="gutter-1-4 exa">Annie Chan</h1>
      </a>
    </div>

    <nav class="unit" role="navigation" id="nav">
      <div class="">
        <ul class="milli list-group-inline">
          <li><a href="{{site.baseurl}}/about/">About</a></li>
          <li><a href="{{site.baseurl}}/creations/">Creations</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        </ul>
      </div>
    </nav>

  </header>

    {{content}}

  <footer class="unit [ xs-1 s-1 m-1 l-1 ]">
    <div class="unit">
      <div class="unit">
        <p class="push-0 micro pad-t-2 pad-b-1-4">All Contents © 2017 anniechan.ca All Rights Reserved.</p>
      </div>
    </div>
  </footer>

</main>

</body>
</html>
